---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="barrett ruth"
  description="projects, experience, and contact for barrett ruth"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/styles/index.css" />
  </Fragment>

  <div class="container">
    <header>
      <h1>barrett ruth</h1>
    </header>

    <section>
      <div>
        <h2>experience</h2>
        <ul>
          <li>
            <a target="_blank" href="https://ramp.com">ramp</a>&mdash;fall 2025
          </li>
          <li>
            <a target="_blank" href="https://drw.com">drw</a>&mdash;summer 2025
          </li>
          <li>
            <a target="_blank" href="https://usa.visa.com">visa</a>&mdash;summer
            2024
          </li>
        </ul>
      </div>

      <div>
        <h2>projects</h2>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://github.com/neovim/neovim/pulls?q=is%3Apr+author%3Abarrettruth+"
              >neovim/neovim</a
            >
          </li><li>
            <a
              target="_blank"
              href="https://github.com/tmux/tmux/pulls?q=is%3Apr+author%3Abarrettruth+"
              >tmux/tmux</a
            >
          </li>
          <li>
            <a target="_blank" href="https://vimdoc-language-server.com"
              >vimdoc-language-server</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/hyprwm/Hyprland/pulls?q=is%3Apr+author%3Abarrettruth+"
              >hyprwm/Hyprland</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2>links</h2>
        <ul>
          <li><a target="_blank" href="https://forge.barrettruth.com">forge</a></li>
          <li><a target="_blank" href="mailto:br@barrettruth.com">email</a></li>
          <li>
            <a target="_blank" href="/resume.pdf">resume</a>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <script slot="scripts" is:inline>
    const shortcuts = {
      D: "https://delta.barrettruth.com",
      W: "https://finance.barrettruth.com",
      F: "https://forge.barrettruth.com",
      P: "https://philipmruth.com",
      V: "https://vault.barrettruth.com",
    };

    const isEditableElement = (target) =>
      target instanceof HTMLElement &&
      (target.isContentEditable ||
        ["INPUT", "SELECT", "TEXTAREA"].includes(target.tagName));

    window.addEventListener("keydown", (event) => {
      if (event.altKey || event.ctrlKey || event.metaKey) return;
      if (isEditableElement(event.target)) return;

      const destination = shortcuts[event.key];
      if (!destination) return;

      window.location.assign(destination);
    });
  </script>
</BaseLayout>
