@font-face {
  font-family: "Signifier";
  src: url("/fonts/signifier/Signifier-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signifier";
  src: url("/fonts/signifier/Signifier-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Signifier";
  src: url("/fonts/signifier/Signifier-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Signifier", serif;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #121212;
    color: #e0e0e0;
  }
}
